.modal {
    z-index: 99999;
    /* z-index supérieur à la sidebar */
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-content {
    padding: 30px;
    width: 600px;
    /* height: 400px; */
    border-radius: 20px;
    border: none;
}

/* .custom-cancel-btn {
    width: 106px;
    height: 47px;
    font: normal normal 600 16px/23px Proxima Nova;
    background-color: #FFC436;
    color: #FFFFFF;
    border-radius: 60px;
}

.custom-register-btn {
    width: 129px;
    height: 47px;
    font: normal normal 600 16px/23px Proxima Nova;
    background-color: #02B3D7;
    color: #FFFFFF;
    border-radius: 60px;
} */